api.altfragen.io {

    @old_root not path /parser* /ai* /videos* /subject-worker*
    handle @old_root {
        redir /parser{uri} 301
    }

    handle_path /parser* {
        reverse_proxy altfragen_parser:8000
    }

    handle_path /ai* {
        reverse_proxy altfragen_ai:8000
    }

    handle_path /subject-worker* {
        reverse_proxy altfragen_subject_worker:8001
    }

    handle_path /videos* {
        root * /opt/videos
        file_server
    }

}

metrics.altfragen.io {
    encode gzip
    reverse_proxy grafana:3000
}