global:
  scrape_interval: 60s
  evaluation_interval: 60s
  external_labels:
    monitor: 'supabase-metrics'

scrape_configs:
  - job_name: 'supabase'
    metrics_path: '/customer/v1/privileged/metrics'
    scheme: https
    basic_auth:
      username: 'service_role'
      password: '${SUPABASE_SERVICE_ROLE_KEY}'
    static_configs:
      - targets:
          - '${SUPABASE_PROJECT_REF}.supabase.co:443'
        labels:
          project: '${SUPABASE_PROJECT_REF}'
          group: 'supabase'

